
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 25px;
    color: white;
    background-color: black;
}
.socials{
    position: fixed;
    bottom: 30px;
    right: 30px;
    display: flex;
    flex-direction: column;
    justify-content:space-evenly;
}
.socials .icon{
    padding: 5px 0px;
}
.socials .icon svg{
    fill: rgba(255, 255, 255, 0.85);
    width: 35px;
    height: auto;
    display:block;
}

.profilepic{
    display: flex;
    justify-content: center;
    align-items: center;
    
}
.profilepic #ian{
    border-radius: 50%;
    width: 200px;
    height: 200px;
}



footer{
    display: flex;
    justify-content: center;
}
footer p{
    font-size: 15px;
    position: fixed;
    bottom: 0px;
}
header{
    display: flex;
    align-items: center;
    width: 100%;
    top: 0px;
    padding: 0px 50px;
    height: 100px;
}



.intro{
    font-size: 50px;
}





.intro{
    display: flex;
    justify-content: center;
}
.textGradient {
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(to right, #f64f59, #e1940f, #e4e12a);
    -webkit-text-fill-color: transparent;
    -webkit-background-clip: text;
    background-clip: text;

}

.textGradient #cursor{
    position: absolute;
    transform: translateY(-3px);
    animation-name: blink;
    animation-duration: 1000ms;
    animation-iteration-count: infinite;
    opacity: 1;
}
@keyframes blink {
    from { opacity: 1; }
    to { opacity: 0; }
}

.menu{
    float: right;
    list-style-type: none;
    justify-self: right;
    position: absolute;
    right: 30px;
}
.menu * {
    box-sizing: border-box;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.menu li {
    font-size: 18px;
    display: inline-block;
    list-style: outside none none;
    margin: 0 .8em;
    overflow: hidden;
}
.menu a {
    padding: 0.3em 0;
    color: rgba(255, 255, 255, 0.5);
    position: relative;
    display: inline-block;
    letter-spacing: 1px;
    margin: 0;
    text-decoration: none;
}
.menu a:before,
.menu a:after {
    position: absolute;
    -webkit-transition: all 0.35s ease;
    transition: all 0.35s ease;
}
.menu a:before {
    bottom: 100%;
    display: block;
    height: 3px;
    width: 100%;
    content: "";
    background-color: #e67e22;
}
.menu a:after {
    padding: 0.3em 0;
    position: absolute;
    bottom: 100%;
    left: 0;
    content: attr(data-hover);
    color: white;
    white-space: nowrap;
}
.menu li:hover a,
.menu .current a {
    transform: translateY(100%);
}
.contact h1{
    text-align: center;
    font-size: 45px;
}
.contact .rows{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

}
.contact .row{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    justify-items: first baseline;
    height: 250px;
    padding: 25px 0px;
}

.contact .card{
    background-color: #FFFFFF30;
    display: flex;
    width: 450px;
    height: 180px;
    border-radius: 17px 17px 17px 17px;
    padding-block-start: 20px;
    padding-block-end: 18px;
    padding-inline-start: 10px;
    padding-inline-end: 10px;
    justify-content: center;
    align-items: center;
}

.proj_row{
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-evenly;

}
.card{
    width: 250px;
    height: 380px;
    position: relative;
    margin: 1rem 0 1rem 0;
    background-color: #50505040;
    border-radius: 5px;
    box-shadow: 0px 0px 5px #ffffffbe;
    transition: all 0.50s ease-in-out;
    display: flex;
    flex-direction: column;

}
.card:hover{
    box-shadow: 0 0px 7px rgb(255, 255, 255);
    border: #fff;
    transform: translateY(-5px) scale(1.005) translateZ(0);
}
.card *{
    background-color: transparent;
}
.card .card-image{
    max-width:250px;
    max-height: 250px;
}
.card .card-image img{

    height: 100%;
    width: 100%;
    transform: scale(.97);
    border-radius: 5px;
}
.card .card-content{
    max-width: 250px;
    padding: 10px;
    border-radius: 0 0 2px 2px;
}
.card .card-action{
    position: absolute;
    bottom: 0px;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    border-top: 1px solid rgba(160,160,160,0.2);
    padding: 10px;
}

.contact .icon{
    padding: 5px 0px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    text-align: center;
    text-decoration: none;
}
.contact .icon svg{
    fill: rgba(255, 255, 255, 0.85);
    width: 60px;
    height: auto;
    display:block;
}

.header{
    font-size: 50px;
    text-align: center;
}
.aboutMe{
    padding: 0px 100px;
}
.aboutMe h1.background{
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 50px;
    font-weight:lighter;
    padding-left: 50px;
    font-style: italic;
    padding-bottom: 10px;
    border-bottom: 4px dashed rgba(160, 160, 160, 0.651);;
}
.aboutMe p{
    padding: 10px 30px;
}
